body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/Untitled design.png');
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.new-arrivals {
    text-align: center;
    padding: 100px 0;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 50px auto;
    width: 60%;
    border-radius: 10px;
}

.new-arrivals h2 {
    font-size: 36px;
}

.flowers {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.flowers img {
    width: 100px;
    height: 100px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff66b2;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3385;
}
