body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/Untitled design.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Ensure the background is behind other content */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background: rgba(241, 118, 118, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.input-container {
    margin: 10px 0;
    text-align: left;
}

input[type=text], input[type=password], select {
    width: calc(100% - 20px);
    padding: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
    margin-top: 10px;
}

input[type=text]:focus, input[type=password]:focus, select:focus {
    background-color: #dddddd;
    outline: none;
}

.registerbtn {
    background-color: #ff66b2;
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.9;
    margin-top: 20px;
}

.registerbtn:hover {
    opacity: 1;
}
